extends layout

block content
  h1 Membership has expired
  h2 That means: no wifi access
  p
    | It seems like your membership has expired. Please contact the front desk
    | to renew your membership and to get back onto the Internet.

